go 1.25.0

use (
	./blueprint
	./examples/digota/tests
	./examples/digota/wiring
	./examples/digota/workflow
	./examples/dsb_hotel/tests
	./examples/dsb_hotel/wiring
	./examples/dsb_hotel/workflow
	./examples/dsb_hotel/workload
	./examples/dsb_mediamicroservices/wiring
	./examples/dsb_mediamicroservices/workflow
	./examples/dsb_socialnetwork/wiring
	./examples/dsb_socialnetwork/workflow
	./examples/eshopmicroservices/wiring
	./examples/eshopmicroservices/workflow
	./examples/leaf/workflow
	./examples/postnotification/tests
	./examples/postnotification/wiring
	./examples/postnotification/workflow
	./examples/sockshop/wiring
	./examples/sockshop/workflow
	./plugins
	./runtime
	./test/wiring
	./test/workflow
)
