package {{.PkgName}}

import (
	"context"

	"github.com/blueprint-uservices/blueprint/runtime/core/backend"
)

func main() {
	ctx := context.Background()

	var db backend.NoSQLDatabase
	service, _ := NewService{{.N}}Impl(ctx, db)

	var id string
	var data string
	service.Method{{.N}}(ctx, id, data)
}
